
.moviePage {
  display: flex;
  justify-content: space-evenly;

}
img {
  min-height: 350px;
}

h3{
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.txt{
  padding-bottom: 20px;
}


.infoMovie{
  color: #ffffff;
  max-width: 600px;


}
